@media(max-width:800px){
    .container {
        flex-direction: column;
        align-items: center;
    }
    #navbar {
        width: 100%;
        position: absolute;
    }
    #navbar header {
        text-align: center;
        font-size: 30px;
    }
    #navbar ul {
        height: 300px;
    }
    #navbar ul li a {
        font-size: 20px;
    }
    #main-doc {
        width: 95%;
        margin-left: 0;
        margin-top: 450px;
        margin-right: 5px;
    }
    .main-section p {
        padding-left: 20px;
    }
    .outside-list {
        margin-left: 70px;
    }
    .inside-list {
        margin-left: 20px;
    }
    .main-section div {
        margin-left: 40px;
    }
    #introduction ul li, #what_you_should_already_know ul li, #while_statement ul li, #function_declarations ul li, #reference ul li{
        margin-left: 60px;
    }
}
