@media(max-width:800px){
    #navbar {
        display: none;
    }
    #navbar header {
        font-size: 22px;
    }
    #navbar ul li a {
        font-size: 18px;
    }
    /* #navbar ul li {
        display: flex;
        flex-direction: column;
    } */
    .container img {
        display: block;
    }
    #main-doc {
        width: 90%;
        margin-left: 10%;
    }
}